body
{
	background-image: url('../imagenes/fondoEstadisticas.jpg');
	background-color: #fff6f1;
	font-family: "Helvetica",Arial;
}
#contenido
{
	width: 960px;
	margin: 0 auto;
	text-align: center;
}
h1
{
	color: #e44e2d;
}
header>a
{
	position: fixed;
	color: #FFF;
	text-decoration: none;
	top: 0;
	right: 0;
}
#textoPr
{
	text-align: left;
	width: 900px;
	height: 400px;
	background-color: rgba(255,255,255,0.9);
	color: #000000;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0px 0px 50px rgba(0,0,0,0.5);
}
.textoHorizontalDesc{
	display: inline-block;
	vertical-align: top;
	margin: 10px;
}
a
{
	color: #434CFF;
	font-weight: bold;
}
#btn1
{
	background-color: #149A05;
	box-shadow: 0px 0px 20px rgba(0,250,0,0.5);
	border-radius: 10px;
	width: 5px;
	height: 10px;
	position:absolute;
    bottom:305px;
    left:240px;
}
#btn2
{
	background-color: #149A05;
	box-shadow: 0px 0px 20px rgba(0,250,0,0.5);
	border-radius: 10px;
	width: 10px;
	height: 10px;
	position:absolute;
    bottom:305px;
    left:270px;
}
#btn3
{
	background-color: #149A05;
	box-shadow: 0px 0px 20px rgba(0,250,0,0.5);
	border-radius: 10px;
	width: 5px;
	height: 10px;
	position:absolute;
    bottom:305px;
    left:300px;
}
#btn4
{
	background-color: #149A05;
	box-shadow: 0px 0px 20px rgba(0,250,0,0.5);
	border-radius: 10px;
	width: 5px;
	height: 10px;
	position:absolute;
    bottom:305px;
    left:330px;
}
#btn5
{
	background-color: #149A05;
	box-shadow: 0px 0px 20px rgba(0,250,0,0.5);
	border-radius: 10px;
	width: 5px;
	height: 10px;
	position:absolute;
    bottom:305px;
    left:360px;
}
#Wings
{
	background-color: #94B2EB;
	box-shadow: 0px 0px 10px rgba(0,250,0,0.5);
	border-radius: 10px;
	position:absolute;
    bottom:260px;
    left:240px;
}
#volver
{
	background-color: #94B2EB;
	box-shadow: 0px 0px 10px rgba(0,250,0,0.5);
	border-radius: 10px;
	position:absolute;
    bottom:230px;
    left:240px;
}
.slider
{
	width: 200px;
	height: 200px;
	display: inline-block;
	vertical-align: top;
	overflow:hidden; 
}
.s_element{
	position:absolute;
	width:100%;           /*Abarcan todo el espacio de su contenedor*/
	height:100%;
	display:none;
}
.s_visible
{
	display:block;
}
.imagenDesc

{
	width: 200px;
	height: 200px;
}
#depo
{
	position:absolute;
    bottom:200px;
    left:430px;
}
#hobbi
{
	position:absolute;
    bottom:200px;
    left:600px;
}
#fisico
{
	position:absolute;
    bottom:200px;
    left:770px;
}
#background
{
	position:absolute;
    bottom:200px;
    left:940px;
}
ul, ol
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.nav li a
{
	width: 120px;
	background-color: #000;
	color: #fff;
	text-decoration: none;
	padding: 5px 10px;
	margin: 0px 5px;
	display: block;
}
.nav > li
{
	float: left;
}
.nav li a:hover
{
	background-color: #434343;	
}
.nav li ul
{
	display: none;
	position: absolute;
	min-width: 140px;
}
.nav li:hover > ul
{
	display: block;
}
.nav li ul li
{
	position: relative;
}
.nav li ul li ul
{
	right: -140px;
	top: 0px;
}